@font-face {
	font-family: 'HB';
	src: url(../font/helveticaneuecyr-bold-webfont.woff2) format('woff2'),
	url(../font/helveticaneuecyr-bold-webfont.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'HB';
	src: url(../font/helveticaneuecyr-black-webfont.woff2) format('woff2'),
	url(../font/helveticaneuecyr-black-webfont.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-family: HB, arial, sans-serif;
	background: #000;
	color: #fff;
	text-align: center;
	font-weight: 800;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6  {
	font-weight: 900;
}
.app-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 5;
	user-select: none;
	-webkit-user-select: none;
}
.app-loader em {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 1s ease;
	transform: scaleY(1);
	transition-delay: 0.5s;
}
.docReady .app-loader em {
	transform: scaleY(0);
}
.cube-loader {
	width: 100%;
	height: 56px;
	margin-top: -28px;
	position: absolute;
	left: 0%;
	top: 50%;
	transition: all 1s ease;
	transform: translateX(0%);
	transition-delay: 0.1s;
}
.docReady .cube-loader {
	transform: translateX(100%);
}
.docReady .cube-loader-main > div {
	animation-play-state: paused !important;
}
.cube-loader-main {
	width: 230px;
	height: 56px;
	margin: 0 auto;
	position: relative;
	transform-style: preserve-3d;
	transform: perspective(448px) translateZ(-28px);
}
.cube-loader-main > div {
	backface-visibility: hidden;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	height: 56px;
	line-height: 56px;
	position: absolute;
	left: 0;
	top: 0;
	transform-origin: 50% 50% -28px;
}
.c-l-1, .c-l-2, .c-l-3, .c-l-4 {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.c-l-1 {
	animation-name: l1;
	transform: perspective(448px) rotateX(0deg) translateZ(0px);
}
.c-l-2 {
	animation-name: l2;
	transform: perspective(448px) rotateX(-90deg) translateZ(0px);
}
.c-l-3 {
	animation-name: l3;
	transform: perspective(448px) rotateX(0deg) rotateY(180deg) rotateZ(180deg) translateZ(0px);
}
.c-l-4 {
	animation-name: l4;
	transform: perspective(448px) rotateX(90deg) translateZ(0px);
}
@keyframes l1 {
	0% { transform: perspective(448px) rotateX(0deg) translateZ(0px); }
	15%, 25% { transform: perspective(448px) rotateX(90deg) translateZ(0px); }
	40%, 50% { transform: perspective(448px) rotateX(180deg) translateZ(0px); }
	65%, 75% { transform: perspective(448px) rotateX(270deg) translateZ(0px); }
	90%, 100% { transform: perspective(448px) rotateX(360deg) translateZ(0px); }
}
@keyframes l2 {
	0% { transform: perspective(448px) rotateX(-90deg) translateZ(0px); }
	15%, 25% { transform: perspective(448px) rotateX(0deg) translateZ(0px); }
	40%, 50% { transform: perspective(448px) rotateX(90deg) translateZ(0px); }
	65%, 75% { transform: perspective(448px) rotateX(180deg) translateZ(0px); }
	90%, 100% { transform: perspective(448px) rotateX(270deg) translateZ(0px); }
}
@keyframes l3 {
	0% { transform: perspective(448px) rotateX(0deg) rotateY(180deg) rotateZ(180deg) translateZ(0px); }
	15%, 25% { transform: perspective(448px) rotateX(90deg) rotateY(180deg) rotateZ(180deg) translateZ(0px); }
	40%, 50% { transform: perspective(448px) rotateX(180deg) rotateY(180deg) rotateZ(180deg) translateZ(0px); }
	65%, 75% { transform: perspective(448px) rotateX(270deg) rotateY(180deg) rotateZ(180deg) translateZ(0px); }
	90%, 100% { transform: perspective(448px) rotateX(360deg) rotateY(180deg) rotateZ(180deg) translateZ(0px); }
}
@keyframes l4 {
	0% { transform: perspective(448px) rotateX(90deg) translateZ(0px); }
	15%, 25% { transform: perspective(448px) rotateX(180deg) translateZ(0px); }
	40%, 50% { transform: perspective(448px) rotateX(270deg) translateZ(0px); }
	65%, 75% { transform: perspective(448px) rotateX(360deg) translateZ(0px); }
	90%, 100% { transform: perspective(448px) rotateX(450deg) translateZ(0px); }
}
.cube-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.docReady .cube-box {
	animation: fadeIn 1.5s ease;
}
@keyframes fadeIn {
	0% { opacity: 0;transform: scale(1.14); }
	100% { opacity: 1;transform: scale(1); }
}
.cube-roller, .cube-main, .cube-box {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.cube-roller, .cube-main {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.cube-slider {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	will-change: transform;
	backface-visibility: hidden;
}
.cube-slider:before {
	content: '';
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	backface-visibility: hidden;
}
.cube-content {
	width: 890px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.cube-grid {
	height: 100%;
	width: 670px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	backface-visibility: hidden;
}
.cube-grid i, .cube-grid:after, .cube-grid:before {
	background: linear-gradient(to bottom,#fff,#fff 50%,transparent 50%,transparent) 0 0/1px 2px repeat-y;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
}
.cube-grid:after {
	content: '';
	left: 0;
}
.cube-grid:before {
	content: '';
	right: 0;
}
.cube-grid i {
	margin: auto;
	left: 0;
	right: 0;
	opacity: 0.2;
}
.cube-content-middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.cube-content-inner {
	padding: 15% 0%;
	position: relative;
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.51);
	will-change: transform;
}
.cube-content-inner:before, .cube-content-inner:after {
	content: '';
	background-color: #fff;
	width: 25px;
	height: 25px;
	position: absolute;
}
.cube-content-inner:before {
	left: 110px;
	top: -30px;
}
.cube-content-inner:after {
	right: 110px;
	bottom: -30px;
}

.cube-roller._down .cube-slider._active_cnt .cube-content-inner {
	transform: translateY(60%) translateZ(0px);
}
.cube-roller._up .cube-slider._active_cnt .cube-content-inner {
	transform: translateY(-60%) translateZ(0px);
}
.cube-roller._tempTrans .cube-slider .cube-content-inner {
	transition: transform 1s;
}
.cube-roller._down._active .cube-slider._active_cnt .cube-content-inner,
.cube-roller._up._active .cube-slider._active_cnt .cube-content-inner {
	transform: translateY(0%) translateZ(0px);
}

.cube-content h3 {
	font-size: 95px;
	text-transform: uppercase;
	line-height: 0.75;
	margin-bottom: 50px;
}
.cube-content p {
	font-size: 22px;
	line-height: 1.3;
}
.touch .arrows {
	display: none;
}
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
	will-change: transform;
	opacity: 1;
	transform: translateY(0);
}
.arrows svg {
	width: 100%;
	height: 100%;
}
.arrows.hide {
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-50px);
}
.arrows.hide path {
	animation-play-state: paused;
}
.arrows path {
	opacity:0;
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s linear;
	animation-iteration-count: infinite;
}
.arrows path.a1 {
	animation-delay: -1s;
}
.arrows path.a2 {
	animation-delay: -0.5s;
}
.arrows path.a3 {
	animation-delay: 0s;
}
@keyframes arrow {
	0% { opacity:0; }
	40% { opacity:1; }
	80% { opacity:0; }
	100% { opacity:0; }
}
@media (max-width: 1100px) {
	.cube-content h3 {
		font-size: 75px;
		margin-bottom: 20px;
	}
	.cube-content p {
		font-size: 19px;
	}
}
@media (max-width: 1000px) {
	.cube-grid {
		width: 400px;
	}
	.cube-content {
		width: 700px;
	}
	.cube-content-inner:before {
		left: 150px;
	}
	.cube-content-inner:after {
		right: 150px;
	}
	.cube-content h3 {
		font-size: 55px;
		margin-bottom: 20px;
	}
	.cube-content p {
		font-size: 13px;
	}
}
@media (max-width: 700px) {
	.cube-grid {
		width: 320px;
	}
	.cube-content {
		width: 520px;
	}
	.cube-content-inner:before {
		left: 100px;
	}
	.cube-content-inner:after {
		right: 100px;
	}
	.cube-content h3 {
		font-size: 45px;
	}
	.cube-content p br {
		display: none;
	}
}
@media (max-height: 400px) {
	.cube-content-inner {
		padding: 20px 0%;
	}
}
@media (max-width: 520px) {
	.cube-grid {
		width: 250px;
	}
	.cube-content {
		width: 320px;
	}
	.cube-content-inner:before {
		left: 34px;
	}
	.cube-content-inner:after {
		right: 35px;
	}
	.cube-content h3 {
		font-size: 34px;
	}
}
@media (min-width: 1025px) {
	.c-s-01 {
		background-image: url(../img/img-01.jpg);
	}
	.c-s-02 {
		background-image: url(../img/img-02.jpg);
	}
	.c-s-03 {
		background-image: url(../img/img-03.jpg);
	}
	.c-s-04 {
		background-image: url(../img/img-04.jpg);
	}
}
@media (max-width: 1024px) and (orientation: portrait) {
	.c-s-01 {
		background-position: 60% 50%;
	}
	.c-s-02 {
		background-position: 94% 50%;
	}
	.c-s-04 {
		background-position: 36% 50%;
	}
}
@media (max-width: 1024px) {
	.c-s-01 {
		background-image: url(../img/img-01-m.jpg);
	}
	.c-s-02 {
		background-image: url(../img/img-02-m.jpg);
	}
	.c-s-03 {
		background-image: url(../img/img-03-m.jpg);
	}
	.c-s-04 {
		background-image: url(../img/img-04-m.jpg);
	}
}
